@charset "UTF-8";

/* apply_Or_Register.jsp의 css */

.form{border:1px solid black; height:700px; width:100%; margin:25px auto;}
.body_Choose{border:1px solid black; height:100%; width:1200px; margin:0 auto;}
.body_Choose header{border:2px solid black; height:125px; width:100%;}
.titlearea_Choose{border:1px dotted black; height:100px; width:100%; margin-top: 12.5px;}
.hello{border:1px solid red; height:50px; margin-left: 12.5px; margin-right: 12.5px;
font-size:2em; line-height:50px;}
.afterHello{border:1px solid red; height:50px; margin-left: 12.5px; margin-right: 12.5px; margin-top:0;
font-size:2em; line-height:50px;}

.bodyarea_Choose{border:1px solid blue; height:575px; width:100%;}
.mainArea_UserChoice{border:1px solid black; height:550px; width:1150px; margin:12.5px auto;}
.buttonBoxArea{border:1px solid red; height:100%; width:50%;float:left;box-sizing:border-box; }
#buttonBox{box-sizing:border-box;height:500px; width:500px; margin:25px auto;}
.button{width:100%; height:100%; border-radius:5%;}
.box{ height:450px; width:450px; margin:auto;}
.box_img{ height:350px;width:450px;box-sizing:border-box;}
.box_text{border:2px solid black; height:100px;width:450px;box-sizing:border-box;}
.Image{ height:320px; width:420px; margin:15px auto;}

.Image img{ margin:35px auto;}

.smallBox_text{border:1px solid black; height:100%; width:400px; margin:0 auto;box-sizing:border-box; }
.box_textTitle{border:1px solid red; box-sizing:border-box; height:50px; width:100%; top:0;}
.box_textContent{box-sizing:border-box; border:1px solid red; height:50px; width:100%; bottom:0;}
.textTitle{font-size:1.7em; text-align:center; line-height:50px;font-weight: bold;}
.textContent{font-size:1.3em; text-align:center; line-height:50px;}


/* 여기부턴 applyForm.jsp의 css */
#bodyBox_apply{height:700px; width:1200px; margin:0 auto;}
.applyBox{ height:700px; width:1200px; margin:0 auto;}

.applyTitleBox{background:#FFA5A5;position:relative; width:1200px; height:50px; border-top: 1px solid black; border-bottom: 1px solid black;}
.applyTitle li{border-right:1px solid black; font-weight: bold;float:left; box-sizing:border-box; font-size:1.25em; line-height:50px; text-align:center;}
.applyTitle li:first-child{width:125px;}
.applyTitle li:nth-child(2){width:300px;}
.applyTitle li:nth-child(3){width:250px;}
.applyTitle li:nth-child(4){width:150px;}
.applyTitle li:nth-child(5){width:125px;}
.applyTitle li:last-child{width:250px; border-right:0; }

.applyBodyBox{ background:#EEEEEE;postion:relative; width:1200px; height:650px;}
.bodyBox{box-sizing:border-box; border-right:1px solid black;postion:relative; float:left; height:100%;}
.bodyBox:last-child{border-right:0;}

.categoryBox{width:125px;}
.categoryBox ul{margin-top: 15px;} 
.categoryBox ul li{cursor:pointer;border:1px solid; width:100%; height:50px; margin:0; font-size:1.2em; text-align:center; line-height:50px;}

.contentNameBox{width:300px; overflow:auto;}
.contentNameBox::-webkit-scrollbar {  width: 8px;  /* 스크롤바의 너비 */}

.contentNameBox::-webkit-scrollbar-thumb {
	height: 30%; /* 스크롤바의 길이 */
    background: #B19893; /* 스크롤바의 색상 */
    border-radius: 10px;
}
.contentNameBox::-webkit-scrollbar-track {
    background: rgba(177, 152, 147, .1);  /*스크롤바 뒷 배경 색상*/
}
.contentNameBox ul{margin: 15px 7px 0 7px;}
.contentNameBox ul li{cursor:pointer; border:1px solid; padding:5px 0; width:100%; font-size:1.12em; text-align:left;}
.contentNameBox ul li a{color:black;}
.contentNameBox ul li a:hover{color: black;  text-decoration: none;}

.detailBox{width:250px;}
.contentDetail{ width:220px; height:620px; margin:15px auto;}
.poster{border:1px solid red; width:100%; height:294px; margin-bottom: 30px;}
.contentDetail .detail{ width:100%; height:250px;}
.header1{font-weight: lighter; margin-top:10px;}
.box3{padding:3px 0 10px 0;}

.dateBox{width:150px;}
.dateBox ul{margin:15px auto;}
.dateBox ul li{cursor:pointer;border:1px solid black; float:left; box-sizing:border-box; 
font-size:1.25em; line-height:50px; text-align:center; width:100%;height:50px;}
.dateBox ul li a{color:black;}
.dateBox ul li a:hover{color: black;  text-decoration: none;}

.timeBox{width:125px;}
.timeBox ul{margin:15px auto;}
.timeBox ul li{cursor:pointer;border:1px solid black; float:left; box-sizing:border-box; 
font-size:1.25em; line-height:50px; text-align:center;width:100%;height:50px;}



.seatingChartBox{width:250px;}
.seatingChartBoxSeparate{box-sizing:border-box;width:100%; height:583px; }
.seatingChartDetailBox{border: 1px solid black; width:220px; height:570px; margin:15px;}
.seatingChartImg{border:1px solid red; width:100%; height:220px;}
.AreaBox{overflow:auto;box-sizing:border-box;border:1px solid red; margin-top:10px; width:100%; height:340px;}
.AreaBox ul li{cursor:pointer;width:100%;border:1px solid black; float:left; box-sizing:border-box; 
font-size:1.25em; line-height:35px; text-align:center; height:35px;}
.area1{float:left; height:100%}
.price1{float:right; height:100%}
.AreaBox::-webkit-scrollbar {  width: 8px;  /* 스크롤바의 너비 */}
.AreaBox::-webkit-scrollbar-thumb {height: 30%;  background: #B19893;  border-radius: 10px;}
.AreaBox::-webkit-scrollbar-track {background: rgba(177, 152, 147, .1);}

.quantityBox{border-top:1px solid black;box-sizing:border-box;width:100%; height:50px;}
.quantityTitle{border-right:1px solid black; font-weight:bold;box-sizing:border-box;width:50%; height:100%;background:#FFA5A5;float:left;font-size:1.25em; line-height:50px; text-align:center;}
.quantityArea{box-sizing:border-box;width:50%; height:100%;float:left;}
#quantity{width:115px; height:40px; padding:0; margin:5px; float:right;background:white; text-align: center; font-size:1.1em;}
input[type=number]::-webkit-inner-spin-button {opacity: 1;}
input[type=number]:hover::-webkit-inner-spin-button {  
    width: 20px;   height: 40px;}

.buttonSection{border:1px solid black; width:100%; height:80px;}
.buttonBox{ width:1200px; height:100%; margin:0 auto;}
.groupBox{width:100%; height: 60px; margin:10px 0; float:right;}
.buttonSmallBox{ float:right; box-sizing:border-box; width:100px; height:100%;}
.button1{background: #FFE3E3;font-weight:bold; border-radius:10%; width:90px; height:50px; margin:5px; cursor:pointer;}
.next{background: #ff3737; color:white; font-weight:bold;}
.buttonSmallBox:first-child{float:left;}

/* applySelectCommissioner */
.buttonBoxArea .Header{border-right:1px solid;background:#FFA5A5;border-top:1px solid ;border-bottom:1px solid; width:100%; height: 50px;box-sizing:border-box; text-align: center; font-size:1.4em; font-weight:bold; line-height: 50px;}
.lastheader{border-right:0;}
.buttonBoxArea .Body{border:1px solid blue; width:100%; height: 650px;box-sizing:border-box;}
.posterZone{border:1px solid black; width:100%; height: 400px;box-sizing:border-box;}
.posterZone .posterBox{border:1px solid black; width:300px; height:400px; margin:0 auto;}
.detailZone{border:1px solid black; width:100%; height: 250px;box-sizing:border-box;}
.detailZone .detail{padding-left:10px;line-height:41px; font-size:1.1em; width:100%; height: 16.66% ;box-sizing:border-box;}
.detailZone .detail:first-child{height: 16.67%;}

/* register의 어떤 jsp의 css */
