@charset "UTF-8";


/* bestContent  */
#bestContent .title h1{margin:0;}
#item h2{width: 258px; height: 20px; line-height:43px; font-size: 15px; font-weight: bold;}
#bestContent{height: 600px; border: 3px solid black; margin: 0 auto; width: 1200px;}
#bestContent .title{height:100px; text-align:center; margin:5px; width: 1190px; font-size:300%; line-height:100px; font-weight:bold; background:#f3f3ff; color:red; border: 1px solid black;}
#bestContent #bestcontentback{width: 1192px;margin: 0 auto;height: 480px;background: #f7f0f0;border: 1px solid black;}
#bestContent #bestcontentback .imgview1{width: 1100px; height: 480px; background: #ffa0a0; margin: 0 auto;}
#bestContent #bestcontentback .imgview1 .imgview2{position:relative;width:840px;height: 480px;background: white; overflow:hidden; margin: 0 auto;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3{position:absolute; width: 1700px; height:460px; top: 10px; left:0;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4{position:relative; width: 400px; height:440px; margin: 10px; background:black; float:left;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #img1{width:390px; height:290px; margin:5px 5px 5px 5px; background:white;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #img1 img{width:390px; height:290px;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #title1{width:390px; height:80px; margin:5px 5px; background:white;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #title1 h3{line-height: 40px; text-align: center; width: 390px; font-size: 120%; font-weight: bold;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #apply{width:390px; height:40px; margin: 5px; background:white;}
#bestContent #bestcontentback .imgview1 .imgview2 #imgview3 .imgview4 #apply h3{line-height:40px; text-align:center; width:390px; font-size:120%; font-weight: bold;}
#bestContent #bestcontentback .imgview1 #remote1{position: relative;left:1010px;bottom: 250px;cursor: pointer; width:50px; height:50px;}
#bestContent #bestcontentback .imgview1 #remote1 ul{width:50px; height:50px;}
#bestContent #bestcontentback .imgview1 #remote1 ul li{text-align: center; font-size: 200%; line-height: 47px; color: black; background: white; width: 50px; border-radius: 50%; height: 50px;}
#bestContent #bestcontentback .imgview1 #remote2{position: relative; left: 45px; bottom: 300px; width:50px; height:50px; cursor:pointer;}
#bestContent #bestcontentback .imgview1 #remote2 ul{width:50px; height:50px;}
#bestContent #bestcontentback .imgview1 #remote2 ul li{text-align: center; font-size: 200%; line-height: 47px; color: black; background: white; width: 50px; border-radius: 50%; height: 50px;}


/* concert */
#concert .title h1{margin:0; line-height:100px;}
#concert{width: 1200px; height: 600px; border: 3px solid black; margin: 0 auto;}
#concert .title{height: 100px; text-align:center; margin: 3px; width: 1193px; font-size:300%;  font-weight:bold; background:#f3f3ff; color:red; border:1px solid black;}
#concert .title h3{line-height:100px; height:100px; margin:0;}
#concert .panel{height:480px;width: 1193px;margin: 3px; border:1px solid black;}
#concert .panel #item{float: left; width: 280px; height: 460px; margin: 10px 8px;}
#concert .panel #item img{height:300px; width:250px;}
#concert .panel #item h1{width: 258px; height: 80px; line-height: 40px; text-align: center; font-size: 20px; font-weight: bold; color: white;
 background: black; margin: 5px 10px;}
#concert .panel #item h2{width: 258px; height: 40px; line-height: 56px; font-size: 25px; font-weight: bold; cursor: pointer;}


/* musical */
#musical{width: 1200px; height: 600px; border: 1px solid black; margin: 0 auto;}
#musical .title{height:100px; text-align:center; margin: 3px; width: 1193px; font-size:300%; font-weight:bold; background:#f3f3ff; color:red; border:1px solid black;}
#musical .title h1{line-height:100px; margin:0;}
#musical .panel{height: 480px; width: 1193px; margin:5px 3px; border: 1px solid black;}
#musical .panel #item{float: left; width: 280px; height: 460px; margin: 8px;}
#musical .panel #item img{height:300px; width:250px;}
#musical .panel #item h1{width: 258px; height: 80px; line-height: 40px; text-align: center; font-size: 20px; font-weight: bold; color: red;
 background: white; margin: 5px 10px; border: 2px dashed black;}
#musical .panel #item h2{width: 258px; height: 40px; line-height: 56px; font-size: 25px; font-weight: bold; border: 2px solid black; cursor: pointer;}


/* success */
#success{width: 1200px; height: 400px; margin: 0 auto; border: 1px solid black;}
#success .title{height: 150px; text-align: center; width: 1193px; font-size: 300%; line-height: 150px; font-weight: bold; background: #f3f3ff;
 color: blue; margin: 3px; border: 1px solid black;}
#success .title h1{margin:0;}
#success .successlist1{position: relative; height: 238px; width: 1193px; margin: 3px; border: 1px solid black;}
#success .successlist1 .successlistrealview{overflow: hidden; position: relative; height: 220px; width: 700px; margin-top: 8px;
 border: 1px solid black; margin-left: 245px;}
#success .successlist1 .successlistrealview .successlistview{position:absolute; height:220px; width:1400px;}
#success .successlist1 .successlistrealview .successlistview .successitem{width: 340px; height: 200px; float: left; margin-left: 5px;
 margin-right: 5px; margin-top: 10px;}
#success .successlist1 .successlistrealview .successlistview .successlisttitle{width: 340px; height: 150px; border: 1px solid black; margin: 0;}
#success .successlist1 .successlistrealview .successlistview .successlisttitle h2{font-family: none; color: black; padding-bottom: 0;
 border-bottom: none; background: white; text-align: center; font-size: 200%; font-weight: bold; height: 100px; line-height: 75px; width:340px;}
 
#success .successlist1 .successlistrealview .successlistview .successlistid{width:340px; height:40px; margin:5px 5px 0 0; border:1px solid black}
#success .successlist1 .successlistrealview .successlistview .successlistid h2{font-family: ""; color: black; padding-bottom: 0px; background: none;
 line-height: 40px; font-weight: bold; text-align: center; font-size: 25px; text-align: center; width: 340px;}
#success .successlist1 #btn3 #successleft{position: absolute;font-size: 30px;font-weight: bold;text-align: center;border: 1px solid black;
 width: 50px;height: 50px;border-radius: 50%;line-height: 48px;float: left; cursor:pointer; left: -150px; top: 10px;}
#success .successlist1 #btn3 #successright{position: absolute; font-size: 30px;font-weight: bold;text-align: center;border: 1px solid black;
 width: 50px;height: 50px;border-radius: 50%;line-height: 48px;left:790px; top:10px; cursor:pointer;}
 #success .successlist1 #btn3{position:absolute; top:80px; left:250px;}