@charset "UTF-8";

* {
	border: none;
}

#login_box {
	width: 500px;
	height: 500px;
	border-bottom: 1px solid #ddd;
	margin: 50px auto 0;
}

#login_box h1 {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin: 20px 0;
}

#login_box .id_input_box {
	width: 470px;
	height: 60px;
	border: 1px solid black;
	margin-bottom: 20px;
}

#login_box .id_input_box .id_input {
	padding-left: 20px;
	font-size: 20px;
	color: #444;
	margin-top: 18px;
	outline: none;
	background:none;
	border:none;
}
/* 로그인 폼 아이디 비밀번호 인풋  */
#login_box .pwd_input_box {
	width: 470px;
	height: 60px;
	border: 1px solid black;
}

#login_box .pwd_input_box .pwd_input {
	padding-left: 20px;
	font-size: 20px;
	color: #444;
	margin-top: 18px;
	outline: none;
	background: none;
    border: none;
}

#login_box .btn_log {
	margin-top: 15px;
}

#login_box .btn_log .login_btn {
	width: 470px;
	height: 60px;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	border: none;
	text-align: center;
	color: #fff;
	background: #ff0000;
	cursor: pointer;
}

#login_box .login_wrap .login_option {
	width: 468px;
	height: 50px;
	border: 1px solid red;
}

#login_box .login_wrap .login_option a {
	text-decoration: none;
	color: #444;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
}

#login_box .login_wrap .login_option .go_main {
	float: left;
	margin-left: 20px;
}

#login_box .login_wrap .login_option .login_option_detail {
	float: right;
	line-height: 50px;
	margin-right: 20px;
}

#login_box .login_form_footer {
	font-size: 80%;
	text-align: center;
	border-top: 1px solid #ddd;
}


/*  회원가입 css  */

/*  placeholder color 변경  */
input::placeholder {color:#444;}
input::-webkit-input-placeholder {color:#444;}
input:-ms-input-placeholder {color:#444;}
 
textarea::placeholder {color:#ccc;}
textarea::-webkit-input-placeholder {color:#ccc;}
textarea:-ms-input-placeholder {color:#ccc;}

#join_box{position:relative; text-align:center; width:100%;}
#join_box .join_title{margin:40px 0 14px 0; color:#888;}
#join_box .join_title span{font-size:25px; color:#000; margin-right:15px;}
#join_box .join_content{background: #FFF;width: 600px;border : 1px solid #d3d3d3;margin : 0 auto 10px;}

.join_content ul li {position: relative; list-style:none; min-height: 60px; border-bottom: 1px solid #ececec; box-sizing:border-box;}
.join_content input{height:40px; width:300px; float:right; margin-left:10px; margin-top: 10px; background: none; border:none; float:left; padding-left:10px; font-size:18px; color:#444;}
.join_content label{height:40px; width:100px; font-weight:bold; font-size:120%; line-height: 50px;}
.join_content span{color:rgb(255,0,0); font-size:70%; font-weight:bold; float:left;line-height:30px; font-size:18px;}
.join_content .gender{height:40px; width:400px; float:right; margin-right:10px; margin-top:10px;}

/*  중복체크 버튼 */
.join_content input.chk_id {width: 100px; border:1px solid #444;box-sizing: border-box;cursor: pointer;padding:0;}
/*  주소찾기 버튼  */
.join_content .zip_find {float:left; width:100px; border:1px solid #444; border-radius:10px; cursor: pointer;padding:0;}
/* select 성별 선택  */
.join_content .gender {height: 40px; width: 400px; float: left; margin-top: 10px; margin-left:10px; padding-left:10px;}
/* 회원가입 버튼 취소버튼   */

#buttons .join_ok {color:#ccc; background:#222; cursor: pointer;}
#buttons .join_cancel {color:#ccc; background:#222;  cursor: pointer;}

/*  notice */
.join_content .notice {height:40px; border-bottom:1px solid #999;} 
.join_content .notice p {float:left; line-height:40px; color:#888; padding-left:10px; font-size:14px;}
.join_content .notice p strong {color:#ff0000; font-size:16px;}
.join_content .notice p strong:first-child { font-size:22px;}


/* updateForm css  */
#update_box {width:1000px; height:500px; border:1px solid red; margin :0 auto;}



