@charset "UTF-8";

.review_img_box {background-image:url(/images/sub_bg.jpg) no-repeat center; height:130px;}
#review_box {width:100%; border:1px solid red; margin:0 auto;}
#review_box .review_content {width:800px; height:1000px; border:1px solid black; margin:0 auto;}
















































































