@charset "UTF-8";


body {min-width:1700px; height:100%;}

/* admin 서브메뉴  */
#sub_menu {
	position: fixed;
    left: 0;
    top: 200px;
    height: 300px;
    width: 250px;
    background: #eee;
    border:1px solid #444;
}
#sub_menu h1 {font-size:30px;}
#sub_menu ul {
	list-style: none;
	padding:0;
	margin:0;
}


#sub_menu ul li a {
 	height:40px;
 	line-height: 40px;
 	display: block;
 	width:100%;
 	box-sizing: border-box;
 	text-decoration:none;
 	font-size:18px;
 	color:#444;
}
#sub_menu ul li a:hover {color:#ff8383;}



.mbl_box {
	width: 1200px;
	border:1px solid #ddd;
	margin: 50px auto 50px;
}

.search_box {
	text-align: left;
}

.search_box .search_name {
	font-size: 18px;
}

#memberList {
	width: 100%;
	border-right: 1px solid #ddd; border-left : 1px px solid #ddd;
}

#memberList th {
	border-top: 1px solid #ddd;
}

#memberList tr {
	height: 40px;
}




.search_box {vertical-align: middle;}
.search_box input[type="text"] {height:40px;}
.btn_search {height:40px; border:1px solid #444; background: none; border-radius:10px;}
.btn_total {height:40px; border:1px solid #444; background: none; border-radius:10px;}